*{
    margin: 0;
}
body{
    background: #444;
}
p{
    transition: 5s;
    transition-delay: 2s;

    border: 2px solid red;
    width: 200px;
    height: 100px;
    background-color:lightblue;
    transform: rotate(360deg) scaleX(0.5);
    margin: auto;
    margin-top: 20vh;
}
p:hover{
    transform: skewX(50deg);
    transform: skew(x,y);
    transform: translate(-20deg, -50deg);
}

.ld{
    transition: 5s;
    transition-delay: 2s;

    border: 2px solid red;
    width: 200px;
    height: 100px;
    background-color:lightblue;
    transform: rotate(360deg) scaleX(0.5);
    
    margin-top: 20vh;
    margin-left: auto;
}
 p:hover{
    transform: rotate3d(90deg);
 }